node_modules/
package-lock.json
.idea
resultados/
*.txt
resultados/2018-5-10/
utils/htmltesting.py
# Test Folders
*.pytest_cache/
testFolder
123
@#$
testFolder123
teste.html
*.html
outro_html.html
# Mac Files
.DS_Store
.env
*.pyc
*.vscode/
*.coverage
venv/
all_dates.json
analysis/in.json
analysis/in2.json
analysis/out.csv